@font-face {
    font-family: pixelated;
    src: url("/fonts/pixelated.ttf");
}

body {
    text-align: center;
    /* Materialize CSS color -- orange darken-1 */
    background-color: #fb8c00;
}

#game-over {
    display: none;
}

.list-group-item {
    display: list-item;
}

#submit-button {
  position: center;
}

#nick-error {
    font-weight: bold;
    color: red;
}

h1 {
    font-family: pixelated, Arial, sans-serif;
}

#frontheader {
    font-size: 400px;
    letter-spacing: -15px;
}

#frontheaderX {
    font-size: 520px;
    letter-spacing: -15px;
}

#frontpage {
    margin: 120px;
}