body {
    text-align: center;
}

#game-over {
    display: none;
}

.list-group-item {
    display: list-item;
}

#submit-button {
  position: center;
}


/* $("#game-over").hide();
.show(); include in JS file*/
